/* ==============================================
   64px over og under containere (meldt ind i Trello)
   ============================================== */

/* Alle sektioner */
.module .container{
  padding-top: 64px;
  padding-bottom: 64px;
}

  /* Undtagen første sektion på siden*/
  section:first-child {
}




/* ==============================================
   64px over og under Image/Video Single Offset
   ============================================== */
.miv-single--right_offset{
  padding-top: 64px;
  padding-bottom: 64px;
}

.miv-single--left_offset{
  padding-top: 64px;
  padding-bottom: 64px;
}
