/* ==============================================
   64px over og under containere (meldt ind i Trello)
   ============================================== */
.module .container{
  padding-top: 64px;
  padding-bottom: 64px;
}



/* ==============================================
   64px over og under Image/Video Single Offset
   ============================================== */
.module.module-new-image-video{
  margin-top: 64px;
  margin-bottom: 64px;
}
