
 /* --------------------- TEST ---------------------- */
/* ------------------------------------------------- */

/* 
   body  {
   background-color: Orange;
   }
*/


/* ---------------------- FONT ---------------------- */
/* ------------- Låses hurtigst muligt ------------- */


/* ---------------------- Dato ---------------------- */





 /* ------------------- RETTELSER ------------------- */
/* ---------- Forbedrer migrationsproces ----------- */


/* ---------------------- Dato ---------------------- */





 /* -------------------- GODKENDT --------------------*/
/* -------------- Færdige beslutninger ------------- */


/* ---------------------- Dato ---------------------- */





 /* ------------------- NYE ØNSKER ------------------ */
/* --------- Ikke nødvendige for migration --------- */


/* ---------------------- Dato ---------------------- */
